@page
@model AppRazor.Pages.ServiceAccessModel
@{
}
<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">Service Access</h2>
    <p>Below are some examples of accessing FriendsService</p>
    <p>
        @Model.Friend?.FirstName  @Model.Friend?.LastName
    </p>

    @if (Model.Friend?.Pets != null)
    {
        foreach (var item in Model.Friend?.Pets)
        {
            <p>@item.Name the @item.Mood @item.Kind</p>
        }
    }
    @if (Model.Friend?.Quotes != null)
    {
        foreach (var item in Model.Friend?.Quotes)
        {
            <p>@item.Quote by @item.Author</p>
        }
    }
    <form method="post" class="needs-validation" novalidate>
        <input asp-for="FriendId" value="@Model.FriendId" type="hidden" />

        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
            <div class="col-md-7 col-lg-8">
                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-primary" asp-page-handler="NewFriend">
                    New Friend
                </button>
                <button type="submit" class="btn btn-primary" asp-page-handler="AddPet">
                    Add Pet to Friend
                </button>
                <button type="submit" class="btn btn-primary" asp-page-handler="AddQuote">
                    Add Quote to Friend
                </button>
            </div>
        </div>
    </form>
</div>
